.buttons {
    background-color: #22201f;
    display: inline-flex;
    overflow: hidden;
}

.dark{
    width: fit-content;
}


.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 1px;
    font: 12px Helvetica;;
    color: #ffffff;
    font-size: 14px;
    background: #22201f;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
background: #ffffff;
text-decoration: none;
color: #000000;
}
